// for error pages

@import "./components/defaults";
@import "./components/vars";
@import "./components/text";

body {
  height: 100vh;
  width: 100vw;
  background-color: $black;
}

.error-box {
  @include flexCenter;
  height: 100%;
  width: 100%;
  font-size: 10rem;
  flex-direction: column;
  .error-text {
    font-family: $sharetech;
    color: $white;
  }

  span a {
    font-size: 0.25em;
    color: $white;
    font-family: $sharetech;
  }
}
