@import url("https://fonts.googleapis.com/css?family=Archivo+Black&display=swap");
@import url("https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap");
@import url("https://fonts.googleapis.com/css?family=Crimson+Text&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:400,800i,900i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Archivo+Black&display=swap");
@import url("https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap");
@import url("https://fonts.googleapis.com/css?family=Crimson+Text&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:400,800i,900i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Archivo+Black&display=swap");
@import url("https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap");
@import url("https://fonts.googleapis.com/css?family=Crimson+Text&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:400,800i,900i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Archivo+Black&display=swap");
@import url("https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap");
@import url("https://fonts.googleapis.com/css?family=Crimson+Text&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:400,800i,900i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Archivo+Black&display=swap");
@import url("https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap");
@import url("https://fonts.googleapis.com/css?family=Crimson+Text&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:400,800i,900i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Archivo+Black&display=swap");
@import url("https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap");
@import url("https://fonts.googleapis.com/css?family=Crimson+Text&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:400,800i,900i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Archivo+Black&display=swap");
@import url("https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap");
@import url("https://fonts.googleapis.com/css?family=Crimson+Text&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:400,800i,900i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Archivo+Black&display=swap");
@import url("https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap");
@import url("https://fonts.googleapis.com/css?family=Crimson+Text&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:400,800i,900i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Archivo+Black&display=swap");
@import url("https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap");
@import url("https://fonts.googleapis.com/css?family=Crimson+Text&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:400,800i,900i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Archivo+Black&display=swap");
@import url("https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap");
@import url("https://fonts.googleapis.com/css?family=Crimson+Text&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:400,800i,900i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Archivo+Black&display=swap");
@import url("https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap");
@import url("https://fonts.googleapis.com/css?family=Crimson+Text&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:400,800i,900i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Archivo+Black&display=swap");
@import url("https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap");
@import url("https://fonts.googleapis.com/css?family=Crimson+Text&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:400,800i,900i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Archivo+Black&display=swap");
@import url("https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap");
@import url("https://fonts.googleapis.com/css?family=Crimson+Text&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:400,800i,900i&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

:root {
  font-size: 16px;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  scrollbar-width: none;
}

br,
hr {
  user-select: none;
  pointer-events: none;
}

.italic {
  font-style: italic;
}

.strikethrough {
  text-decoration: line-through;
}

.underline {
  text-decoration: underline;
}

.i-pink {
  color: #e0005d;
  font-style: italic;
}

.r-pink {
  color: #e0005d;
}

.c-lpink {
  color: #ebc9ee;
}

.c-purple {
  color: #7a104f;
}

.subsection {
  color: #e0005d;
  transition: color 0.3s;
}

body.dark .subsection {
  color: #007ce0;
  transition: color 0.3s;
}

@keyframes blinking-cursor {
  from {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

@keyframes fadeOutIn {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOutInColor {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0;
    color: #39c5bb;
  }
  to {
    opacity: 1;
  }
}

@keyframes flickerOut {
  from {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  62% {
    opacity: 0;
  }
  63% {
    opacity: 0.6;
  }
  65% {
    opacity: 0.1;
  }
  68% {
    opacity: 0;
  }
  71% {
    opacity: 0.3;
  }
  73% {
    opacity: 0;
  }
  76% {
    opacity: 0.7;
  }
  79% {
    opacity: 0;
  }
  82% {
    opacity: 0.2;
  }
  84% {
    opacity: 0;
  }
  86% {
    opacity: 0.4;
  }
  to {
    opacity: 0;
  }
}

@keyframes flickerIn {
  from {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  62% {
    opacity: 1;
  }
  63% {
    opacity: 0.6;
  }
  65% {
    opacity: 0.1;
  }
  68% {
    opacity: 0;
  }
  71% {
    opacity: 0.3;
  }
  73% {
    opacity: 0;
  }
  76% {
    opacity: 0.7;
  }
  79% {
    opacity: 0;
  }
  82% {
    opacity: 0.2;
  }
  84% {
    opacity: 0;
  }
  86% {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes steppedRotation {
  from {
    transform: rotateZ(0deg);
  }
  20% {
    transform: rotateZ(0deg);
  }
  25% {
    transform: rotateZ(90deg);
  }
  45% {
    transform: rotateZ(90deg);
  }
  50% {
    transform: rotateZ(180deg);
  }
  70% {
    transform: rotateZ(180deg);
  }
  75% {
    transform: rotateZ(270deg);
  }
  95% {
    transform: rotateZ(270deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

@keyframes lineExpander {
  from {
    height: 0;
    width: 0;
  }
  30% {
    height: 1px;
  }
  50% {
    width: 100%;
  }
  70% {
    height: 1px;
  }
  to {
    height: 100%;
    width: 100%;
  }
}

@keyframes fadeIn {
  from {
    transform: translateY(1rem);
    opacity: 0;
    pointer-events: none;
  }
  50% {
    transform: translateY(-0.25rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }
}

@keyframes fadeInStop {
  from {
    transform: translateY(1rem);
    opacity: 0;
    pointer-events: none;
  }
  to {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }
  50% {
    transform: translateY(-0.25rem);
  }
  to {
    transform: translateY(1rem);
    opacity: 0;
    pointer-events: none;
  }
}

@keyframes rotate {
  to {
    transform: rotateZ(360deg);
  }
}

@keyframes scaleBackground {
  from {
    background-size: 100%;
  }
  50% {
    background-size: 200%;
  }
  to {
    background-size: 100%;
  }
}

#preloader {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background: #070109;
  isolation: isolate;
  opacity: 1;
  transition: opacity 0.3s;
}

#preloader.fadeout {
  opacity: 0;
  transition: opacity 0.3s;
}

#preloader * {
  overflow: hidden;
}

#preloader .preloader-top-layer {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
}

#preloader .preloader-top-layer .preloader-icon-box {
  padding: 4rem 0 2rem 4rem;
  height: auto;
  width: auto;
  position: relative;
  left: 0;
  bottom: 0;
  overflow: visible;
}

@media (max-width: 1500px) {
  #preloader .preloader-top-layer .preloader-icon-box {
    padding: 2rem 0 1rem 1rem;
  }
}

#preloader .preloader-top-layer .preloader-icon-box .preloader-icon {
  animation: steppedRotation 4s infinite forwards ease;
  height: 1rem;
  width: 1rem;
  background-color: #ffffff;
}

#preloader .preloader-top-layer .preloader-icon-box .preloader-icon.flicker-out {
  animation: flickerOut 1s forwards linear;
}

#preloader .preloader-top-layer .preloader-text {
  padding: 0 0 0 4rem;
  color: #ffffff;
  line-height: 1.46;
  font-size: 1rem;
  height: auto;
  position: relative;
  font-family: "Share Tech Mono", monospace;
  word-break: break-word;
  overflow-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

@media (max-width: 1500px) {
  #preloader .preloader-top-layer .preloader-text {
    padding: 0 0 0 1rem;
    font-size: 1rem;
    max-width: calc(100vw - 1rem);
  }
}

#preloader .preloader-top-layer .preloader-text.flicker-out {
  animation: flickerOut 1s forwards linear;
}

#preloader .preloader-top-layer .preloader-text .blinking-cursor {
  height: 1rem;
  top: 2px;
  min-width: 2px;
  position: relative;
  margin-left: 4px;
  background: #ffffff;
  display: inline-block;
}

#preloader .preloader-top-layer .preloader-text .blinking-cursor.blinking {
  animation: blinking-cursor 0.8s infinite ease-in-out;
}

#preloader .preloader-bottom-layer {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#preloader .preloader-bottom-layer .line-expander {
  will-change: height, width;
  height: 0;
  width: 0;
  background-color: #ffffff;
}

#preloader .preloader-bottom-layer .line-expander.expand {
  animation: lineExpander 1.4s cubic-bezier(0.42, 0.66, 0.39, 0.76) forwards;
}

@keyframes blinking-cursor {
  from {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

@keyframes fadeOutIn {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOutInColor {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0;
    color: #39c5bb;
  }
  to {
    opacity: 1;
  }
}

@keyframes flickerOut {
  from {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  62% {
    opacity: 0;
  }
  63% {
    opacity: 0.6;
  }
  65% {
    opacity: 0.1;
  }
  68% {
    opacity: 0;
  }
  71% {
    opacity: 0.3;
  }
  73% {
    opacity: 0;
  }
  76% {
    opacity: 0.7;
  }
  79% {
    opacity: 0;
  }
  82% {
    opacity: 0.2;
  }
  84% {
    opacity: 0;
  }
  86% {
    opacity: 0.4;
  }
  to {
    opacity: 0;
  }
}

@keyframes flickerIn {
  from {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  62% {
    opacity: 1;
  }
  63% {
    opacity: 0.6;
  }
  65% {
    opacity: 0.1;
  }
  68% {
    opacity: 0;
  }
  71% {
    opacity: 0.3;
  }
  73% {
    opacity: 0;
  }
  76% {
    opacity: 0.7;
  }
  79% {
    opacity: 0;
  }
  82% {
    opacity: 0.2;
  }
  84% {
    opacity: 0;
  }
  86% {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes steppedRotation {
  from {
    transform: rotateZ(0deg);
  }
  20% {
    transform: rotateZ(0deg);
  }
  25% {
    transform: rotateZ(90deg);
  }
  45% {
    transform: rotateZ(90deg);
  }
  50% {
    transform: rotateZ(180deg);
  }
  70% {
    transform: rotateZ(180deg);
  }
  75% {
    transform: rotateZ(270deg);
  }
  95% {
    transform: rotateZ(270deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

@keyframes lineExpander {
  from {
    height: 0;
    width: 0;
  }
  30% {
    height: 1px;
  }
  50% {
    width: 100%;
  }
  70% {
    height: 1px;
  }
  to {
    height: 100%;
    width: 100%;
  }
}

@keyframes fadeIn {
  from {
    transform: translateY(1rem);
    opacity: 0;
    pointer-events: none;
  }
  50% {
    transform: translateY(-0.25rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }
}

@keyframes fadeInStop {
  from {
    transform: translateY(1rem);
    opacity: 0;
    pointer-events: none;
  }
  to {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }
  50% {
    transform: translateY(-0.25rem);
  }
  to {
    transform: translateY(1rem);
    opacity: 0;
    pointer-events: none;
  }
}

@keyframes rotate {
  to {
    transform: rotateZ(360deg);
  }
}

@keyframes scaleBackground {
  from {
    background-size: 100%;
  }
  50% {
    background-size: 200%;
  }
  to {
    background-size: 100%;
  }
}

header {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  color: #070109;
  display: flex;
  flex-direction: row;
  height: auto;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  transition: color 0.2s, background-color 0.3s;
  width: 100vw;
}

body.dark header {
  background-color: rgba(7, 1, 9, 0.5);
  color: #ffffff;
  transition: color 0.2s, background-color 0.3s;
}

header .left,
header .right {
  height: 100%;
  width: auto;
  flex-grow: 1;
  display: flex;
  align-items: center;
  font-family: "Nunito Sans", sans-serif;
}

header .left {
  font-size: 3rem;
  padding: 4rem 1rem 1rem 8rem;
}

@media (max-width: 1200px) {
  header .left {
    font-size: 1.5rem;
  }
}

@media (max-width: 1500px) {
  header .left {
    padding: 0.5rem 0.5rem 0.5rem 2rem;
  }
}

header .right {
  font-size: 1.5rem;
  padding: 4rem 8rem 1rem 1rem;
  justify-content: flex-end;
}

@media (max-width: 1200px) {
  header .right {
    font-size: 1rem;
  }
}

@media (max-width: 1500px) {
  header .right {
    padding: 0.5rem 2rem 0.5rem 0.5rem;
  }
}

header .right ul {
  display: flex;
  flex-direction: row;
}

header .right ul li {
  opacity: 1;
}

header .right ul li:hover span {
  animation: fadeOutInColor 0.5s forwards;
}

header .right ul li:hover span:nth-of-type(1) {
  animation-delay: 0.05s;
}

header .right ul li:hover span:nth-of-type(2) {
  animation-delay: 0.1s;
}

header .right ul li:hover span:nth-of-type(3) {
  animation-delay: 0.15s;
}

header .right ul li:hover span:nth-of-type(4) {
  animation-delay: 0.2s;
}

header .right ul li:hover span:nth-of-type(5) {
  animation-delay: 0.25s;
}

header .right ul li a {
  color: #070109;
  transition: color 0.3s;
  text-decoration: none;
  position: relative;
}

body.dark header .right ul li a {
  color: #ffffff;
  transition: color 0.3s;
}

header .right ul li + li {
  margin-left: 2rem;
}

#section-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  isolation: isolate;
  position: relative;
}

#section-1 .intro-container {
  opacity: 1;
  padding: 10rem 8rem;
  pointer-events: auto;
  transition: opacity 0.3s;
  z-index: 1;
}

@media (max-width: 1500px) {
  #section-1 .intro-container {
    padding: 2rem;
  }
}

@media (max-width: 1200px) {
  #section-1 .intro-container {
    padding: 2rem 2rem 4rem 2rem;
  }
}

#section-1 .intro-container,
#section-1 .intro-container * {
  overflow: hidden;
}

#section-1 .intro-container p {
  transition: color 0.2s;
  font-family: "Crimson Text", serif;
  color: #070109;
  font-size: 3rem;
}

@media (max-width: 1200px) {
  #section-1 .intro-container p {
    font-size: 1.75rem;
  }
}

#section-1 .intro-container p span a {
  color: #007ce0;
  transition: color 0.2s;
}

#section-1 .intro-container p span {
  opacity: 0;
  display: inline-block;
}

#section-1 .intro-container p span b {
  font-weight: normal;
}

#section-1 .intro-container p.active span {
  animation: fadeIn 1.5s ease-out forwards;
}

#section-1 .intro-container p.active span:nth-of-type(1) {
  animation-delay: 0.05s;
}

#section-1 .intro-container p.active span:nth-of-type(2) {
  animation-delay: 0.1s;
}

#section-1 .intro-container p.active span:nth-of-type(3) {
  animation-delay: 0.15s;
}

#section-1 .intro-container p.active span:nth-of-type(4) {
  animation-delay: 0.2s;
}

#section-1 .intro-container p.active span:nth-of-type(5) {
  animation-delay: 0.25s;
}

body.dark #section-1 .intro-container p {
  color: #ffffff;
}

body.dark #section-1 .intro-container p a {
  color: #39c5bb;
}

#section-1 .intro-container p + p {
  margin-top: 1rem;
}

#section-1 .intro-container.hidden {
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
}

#section-1 .shining-moon {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeOut 0.5s ease-out forwards;
  bottom: 5rem;
  height: 20rem;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  width: 100%;
  z-index: 0;
}

#section-1 .shining-moon.active {
  animation: fadeIn 0.5s ease-out forwards;
}

#section-1 .shining-moon .moon {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: rotate 480s linear infinite;
  border-radius: 50%;
  height: 100%;
  overflow: hidden;
  width: 20rem;
}

#section-1 .shining-moon .moon .moon-inner {
  background-image: url("./img/gradient-1.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 200%;
  height: 100%;
  opacity: 0.7;
  overflow: hidden;
  transform-origin: center;
  width: 100%;
}

#section-2 {
  overflow: visible;
  position: relative;
  padding-bottom: 4rem;
}

#section-2 .section-header {
  width: 100%;
  display: flex;
  color: #070109;
  transition: color 0.3s;
  padding: 10rem 16rem 2rem 16rem;
}

@media (max-width: 1500px) {
  #section-2 .section-header {
    padding: 8rem 4rem 2rem 4rem;
  }
}

@media (max-width: 1200px) {
  #section-2 .section-header {
    padding: 6rem 2rem 2rem 2rem;
  }
}

body.dark #section-2 .section-header {
  color: #ffffff;
  transition: color 0.3s;
}

#section-2 .section-header div {
  display: flex;
  height: auto;
  flex-grow: 1;
  padding-bottom: 0.5rem;
}

#section-2 .section-header .left {
  align-items: flex-start;
  font-family: "Share Tech Mono", monospace;
  font-size: 1rem;
  justify-content: flex-start;
}

#section-2 .section-header .right {
  align-items: flex-end;
  font-family: "Nunito Sans", sans-serif;
  font-size: 2rem;
  justify-content: flex-end;
}

@media (max-width: 1200px) {
  #section-2 .section-header .right {
    font-size: 1.7rem;
  }
}

#section-2 .section-header,
#section-2 .section-header * {
  overflow: hidden;
}

#section-2 .section-header .left span,
#section-2 .section-header .right span {
  opacity: 0;
}

#section-2 .section-header.visible .left span {
  animation: flickerIn 1s ease forwards;
}

#section-2 .section-header.visible .right span {
  animation: fadeIn 1s ease forwards;
}

#section-2 .section-header.visible .right span {
  animation-delay: 1s;
}

#section-2 .sec-header {
  margin-bottom: 1rem;
}

#section-2 .sec-header div {
  transition: border-color 0.3s border-width 0.3s;
  border-bottom: 2px dashed #070109;
}

body.dark #section-2 .sec-header div {
  transition: border-color 0.3s border-width 0.3s;
  border-bottom: 2px dashed #ffffff;
}

#section-2 .works-box {
  padding: 0 16rem;
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1500px) {
  #section-2 .works-box {
    padding: 0 4rem;
  }
}

@media (max-width: 1200px) {
  #section-2 .works-box {
    padding: 0 2rem;
  }
}

#section-2 .works-box,
#section-2 .works-box * {
  overflow: hidden;
}

#section-2 .works-box .work-title {
  opacity: 0;
  color: #070109;
  transition: color 0.3s;
  font-family: "Nunito Sans", sans-serif;
  margin-bottom: 0.5rem;
  font-weight: lighter;
  display: flex;
}

body.dark #section-2 .works-box .work-title {
  color: #ffffff;
  transition: color 0.3s;
}

#section-2 .works-box.visible .work-title {
  animation: flickerIn 1.25s forwards;
}

#section-2 .works-box .work-date {
  color: #070109;
  transition: color 0.3s;
  font-weight: 800;
  font-style: italic;
}

body.dark #section-2 .works-box .work-date {
  color: #e0005d;
  transition: color 0.3s;
}

#section-2 .works-box .work-sub {
  opacity: 0;
  transition: color 0.3s, opacity 2s;
  margin-top: 1rem;
}

#section-2 .works-box .work-sub p {
  font-family: "Nunito Sans", sans-serif;
  color: black;
  transition: color 0.3s;
  font-size: 1rem;
}

body.dark #section-2 .works-box .work-sub p {
  color: #ffffff;
  transition: color 0.3s;
}

#section-2 .works-box .work-sub .work-scope {
  font-style: italic;
}

#section-2 .works-box.visible .work-sub {
  opacity: 1;
  transition: color 0.3s, opacity 2s;
}

#section-2 .works-box.visible .work {
  width: 100%;
  transition: width 0.6s ease;
}

#section-2 .works-box.visible .work img {
  opacity: 1;
  transition: opacity 1s ease-out 0.65s;
}

#section-2 .works-box .work {
  background-color: #070109;
  height: 20rem;
  isolation: isolate;
  position: relative;
  transition: width 0.6s ease;
  width: 0;
}

@media (max-width: 1500px) {
  #section-2 .works-box .work {
    height: 15rem;
  }
}

@media (max-width: 1200px) {
  #section-2 .works-box .work {
    height: 10rem;
  }
}

#section-2 .works-box .work img {
  opacity: 0;
  transition: opacity 0.4s ease-out 0.65s;
}

body.dark #section-2 .works-box .work {
  background-color: #ffffff;
}

#section-2 .works-box .work .overlay,
#section-2 .works-box .work .image {
  position: absolute;
  width: 100%;
  height: 100%;
}

#section-2 .works-box .work .overlay {
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.7);
  transition: background-color 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

body.dark #section-2 .works-box .work .overlay {
  background-color: rgba(7, 1, 9, 0.7);
}

#section-2 .works-box .work .overlay span {
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 1.5rem;
  color: #070109;
  font-family: "Share Tech Mono", monospace;
}

@media (max-width: 1500px) {
  #section-2 .works-box .work .overlay span {
    font-size: 1rem;
  }
}

@media (max-width: 1200px) {
  #section-2 .works-box .work .overlay span {
    font-size: 0.85rem;
  }
}

body.dark #section-2 .works-box .work .overlay span {
  color: #ffffff;
}

#section-2 .works-box .work .overlay .work-links {
  position: absolute;
  bottom: 1rem;
  right: 1.5rem;
  display: flex;
}

#section-2 .works-box .work .overlay .work-links a + a {
  margin-left: 1rem;
}

#section-2 .works-box .work .overlay .work-links a.ext {
  opacity: 0;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Nunito Sans", sans-serif;
  padding: 0.5rem 1rem;
  color: #070109;
  border: 1px solid #070109;
  transition: color 0.3s, border-color 0.3s, background-color 0.3s, opacity 0.3s;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
}

@media (max-width: 1500px) {
  #section-2 .works-box .work .overlay .work-links a.ext {
    font-size: 1rem;
  }
}

@media (max-width: 1200px) {
  #section-2 .works-box .work .overlay .work-links a.ext {
    font-size: 0.85rem;
  }
}

#section-2 .works-box .work .overlay .work-links a.ext:hover {
  background-color: rgba(7, 1, 9, 0.2);
  transition: color 0.3s, border-color 0.3s, background-color 0.3s, opacity 0.3s;
}

body.dark #section-2 .works-box .work .overlay .work-links a.ext:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

body.dark #section-2 .works-box .work .overlay .work-links a.ext {
  color: #ffffff;
  border: 1px solid #ffffff;
  transition: color 0.3s, border-color 0.3s, background-color 0.3s, opacity 0.3s;
}

#section-2 .works-box .work .image {
  z-index: 1;
}

#section-2 .works-box .work .image img {
  width: 100%;
}

#section-2 .works-box .work:hover .overlay {
  background-color: rgba(255, 255, 255, 0.94);
  transition: background-color 0.3s;
}

body.dark #section-2 .works-box .work:hover .overlay {
  background-color: rgba(7, 1, 9, 0.94);
}

#section-2 .works-box .work:hover .overlay span {
  animation: flickerIn 0.75s forwards;
  transition: opacity 0.3s;
}

#section-2 .works-box .work:hover .overlay a.ext {
  opacity: 1;
  transition: color 0.3s, border-color 0.3s, background-color 0.3s, opacity 0.3s;
  pointer-events: auto;
}

#section-2 .works-box + .works-box {
  margin-top: 6rem;
}

#section-2 footer {
  color: #070109;
  padding: 2rem 16rem;
  position: relative;
  transition: color 0.3s;
  font-family: "Crimson Text", serif;
  font-size: 2rem;
  width: 100vw;
  margin-top: 4rem;
}

@media (max-width: 1500px) {
  #section-2 footer {
    padding: 2rem 4rem;
  }
}

@media (max-width: 1200px) {
  #section-2 footer {
    padding: 1rem 2rem;
  }
}

#section-2 footer,
#section-2 footer * {
  overflow: visible;
}

#section-2 footer p {
  display: flex;
  flex-direction: column;
  line-height: 1.56;
}

#section-2 footer p span:first-of-type {
  font-family: "Share Tech Mono", monospace;
  font-size: 1rem;
  margin-bottom: 1rem;
}

#section-2 footer p span:not(:first-of-type) {
  display: inline-block;
  font-size: 1.8rem;
  opacity: 0;
  pointer-events: none;
}

#section-2 footer p span:not(:first-of-type) a {
  color: #070109;
  transition: color 0.3s;
  text-decoration: none;
}

body.dark #section-2 footer p span:not(:first-of-type) a {
  color: #e0005d;
  transition: color 0.3s;
}

#section-2 footer p span:not(:first-of-type) a .arrow {
  display: inline-block;
  transition: padding 0.4s ease;
}

#section-2 footer p span:not(:first-of-type) a:hover .arrow {
  transition: padding 0.4s ease;
  padding-left: 1rem;
}

#section-2 footer p span:not(:first-of-type).visible {
  animation: fadeInStop 2.5s ease-out forwards;
}

#section-2 footer p span:not(:first-of-type) {
  margin-left: 2rem;
}

@media (max-width: 1500px) {
  #section-2 footer p span:not(:first-of-type) {
    margin-left: 1rem;
    font-size: 1.5rem;
  }
}

@media (max-width: 1200px) {
  #section-2 footer p span:not(:first-of-type) {
    margin-left: 0;
    font-size: 1.25rem;
  }
}

body.dark #section-2 footer {
  color: #ffffff;
  transition: color 0.3s;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

:root {
  font-size: 16px;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  scrollbar-width: none;
}

br,
hr {
  user-select: none;
  pointer-events: none;
}

#intersector {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100vw;
}

#section-3 {
  overflow: visible;
  position: relative;
  display: flex;
  flex-direction: column;
}

#section-3 .section-header {
  width: 100%;
  display: flex;
  color: #070109;
  transition: color 0.3s;
  padding: 10rem 16rem 2rem 16rem;
}

@media (max-width: 1500px) {
  #section-3 .section-header {
    padding: 8rem 4rem 2rem 4rem;
  }
}

@media (max-width: 1200px) {
  #section-3 .section-header {
    padding: 6rem 2rem 2rem 2rem;
  }
}

body.dark #section-3 .section-header {
  color: #ffffff;
  transition: color 0.3s;
}

#section-3 .section-header div {
  display: flex;
  height: auto;
  flex-grow: 1;
  padding-bottom: 0.5rem;
}

#section-3 .section-header .left {
  align-items: flex-start;
  font-family: "Share Tech Mono", monospace;
  font-size: 1rem;
  justify-content: flex-start;
}

#section-3 .section-header .right {
  align-items: flex-end;
  font-family: "Nunito Sans", sans-serif;
  font-size: 2rem;
  justify-content: flex-end;
}

@media (max-width: 1200px) {
  #section-3 .section-header .right {
    font-size: 1.7rem;
  }
}

#section-3 .section-header,
#section-3 .section-header * {
  overflow: hidden;
}

#section-3 .section-header .left span,
#section-3 .section-header .right span {
  opacity: 0;
}

#section-3 .section-header.visible .left span {
  animation: flickerIn 1s ease forwards;
}

#section-3 .section-header.visible .right span {
  animation: fadeIn 1s ease forwards;
}

#section-3 .section-header.visible .right span {
  animation-delay: 1s;
}

#section-3 .sec-header {
  margin-bottom: 1rem;
}

#section-3 .sec-header div {
  transition: border-color 0.3s border-width 0.3s;
  border-bottom: 2px dashed #070109;
}

body.dark #section-3 .sec-header div {
  transition: border-color 0.3s border-width 0.3s;
  border-bottom: 2px dashed #ffffff;
}

#section-3,
#section-3 * {
  overflow: visible;
}

#section-3 .about-info-box {
  color: #070109;
  transition: 0.3s color;
  padding: 2rem 16rem;
  flex-grow: 1;
}

body.dark #section-3 .about-info-box {
  color: #ffffff;
  transition: 0.3s color;
}

@media (max-width: 1500px) {
  #section-3 .about-info-box {
    padding: 2rem 4rem;
  }
}

@media (max-width: 1200px) {
  #section-3 .about-info-box {
    padding: 1rem 2rem;
  }
}

#section-3 .about-info-box h1 {
  font-family: "Crimson Text", serif;
  font-size: 6rem;
  line-height: 1;
  margin-bottom: 3rem;
  font-weight: 400;
  opacity: 0;
}

@media (max-width: 1500px) {
  #section-3 .about-info-box h1 {
    font-size: 3.5rem;
  }
}

#section-3 .about-info-box h1.visible {
  animation: fadeIn 1s ease forwards;
}

#section-3 .about-info-box p {
  font-family: "Nunito Sans", sans-serif;
  font-size: 2rem;
  line-height: 1.56;
  opacity: 0;
}

@media (max-width: 1500px) {
  #section-3 .about-info-box p {
    font-size: 1.7rem;
  }
}

#section-3 .about-info-box p.visible {
  animation: fadeIn 1s ease forwards;
}

#section-3 .about-info-box p.indent,
#section-3 .about-info-box span.indent {
  margin-left: 2rem;
}

@media (max-width: 1500px) {
  #section-3 .about-info-box p.indent,
  #section-3 .about-info-box span.indent {
    margin-left: 1rem;
  }
}

@media (max-width: 1200px) {
  #section-3 .about-info-box p.indent,
  #section-3 .about-info-box span.indent {
    margin-left: 0;
  }
}

#section-3 .about-info-box p a {
  color: #070109;
  transition: 0.3s color;
}

body.dark #section-3 .about-info-box p a {
  color: #ffffff;
  transition: 0.3s color;
}

#section-3 .about-info-box p + p {
  margin-top: 2rem;
}

#section-3 .about-info-box p.skills-para {
  margin-top: 4rem;
  font-family: "Nunito Sans", sans-serif;
  font-size: 2rem;
  line-height: 1.56;
}

#section-3 .about-info-box p.skills-para .skills-title {
  font-family: "Share Tech Mono", monospace;
  font-size: 1rem;
}

#section-3 .about-info-box p.extras-para {
  margin-top: 4rem;
  font-family: "Crimson Text", serif;
  font-size: 2rem;
  line-height: 1.56;
  display: flex;
  flex-direction: column;
}

#section-3 .about-info-box p.extras-para .extras-title {
  font-family: "Share Tech Mono", monospace;
  font-size: 1rem;
  margin-bottom: 1rem;
}

#section-3 .about-info-box p.extras-para span:not(:first-of-type) {
  display: inline-block;
  font-size: 1.8rem;
  opacity: 0;
  pointer-events: none;
}

#section-3 .about-info-box p.extras-para span:not(:first-of-type) a {
  color: #070109;
  transition: color 0.3s;
  text-decoration: none;
}

body.dark #section-3 .about-info-box p.extras-para span:not(:first-of-type) a {
  color: #e0005d;
  transition: color 0.3s;
}

#section-3 .about-info-box p.extras-para span:not(:first-of-type) a .arrow {
  display: inline-block;
  transition: padding 0.4s ease;
}

#section-3 .about-info-box p.extras-para span:not(:first-of-type) a:hover .arrow {
  transition: padding 0.4s ease;
  padding-left: 1rem;
}

#section-3 .about-info-box p.extras-para span:not(:first-of-type).visible {
  animation: fadeInStop 2.5s ease-out forwards;
}

#section-3 .about-info-box .skills-para,
#section-3 .about-info-box .extras-para {
  opacity: 0;
}

#section-3 .about-info-box .skills-para.visible,
#section-3 .about-info-box .extras-para.visible {
  animation: flickerIn 1s ease forwards;
}

#section-3 footer.about-footer {
  color: #070109;
  transition: 0.3s color;
  padding: 2rem 16rem;
  margin-top: 8rem;
  font-family: "Share Tech Mono", monospace;
  display: flex;
  flex-direction: column;
}

body.dark #section-3 footer.about-footer {
  color: #ffffff;
  transition: 0.3s color;
}

@media (max-width: 1500px) {
  #section-3 footer.about-footer {
    padding: 2rem 4rem;
  }
}

@media (max-width: 1200px) {
  #section-3 footer.about-footer {
    padding: 1rem 2rem;
  }
}

@media (max-width: 1200px) {
  #section-3 footer.about-footer {
    margin-bottom: 16rem;
  }
}

#section-3 footer.about-footer .info a {
  color: #070109;
  transition: 0.3s color;
}

body.dark #section-3 footer.about-footer .info a {
  color: #ffffff;
  transition: 0.3s color;
}

#section-3 footer.about-footer .info #show-flags {
  cursor: pointer;
  color: #070109;
  transition: 0.3s color;
}

body.dark #section-3 footer.about-footer .info #show-flags {
  color: #ffffff;
  transition: 0.3s color;
}

body.dark #section-3 footer.about-footer .info #show-flags:hover, #section-3 footer.about-footer .info #show-flags:hover {
  color: #e0005d;
  transition: color 0.3s ease;
}

#section-3 footer.about-footer .info #time-display,
#section-3 footer.about-footer .info #awake-or-not {
  color: #e0005d;
}

#section-3 footer.about-footer .info p + p {
  margin-top: 1rem;
}

#section-3 footer.about-footer .lines {
  width: 100%;
  display: flex;
  margin-top: 0.5rem;
  padding-top: 1rem;
  opacity: 0;
  transition: opacity 0.3s;
}

#section-3 footer.about-footer .lines.active {
  opacity: 1;
  transition: opacity 0.3s;
}

#section-3 footer.about-footer .lines div {
  display: flex;
  height: 8px;
  width: 4rem;
}

#section-3 footer.about-footer .lines div b {
  flex-grow: 1;
  height: 100%;
}

#section-3 footer.about-footer .lines div + div {
  margin-left: 1rem;
}

#section-3 footer.about-footer .lines .t b:nth-of-type(1),
#section-3 footer.about-footer .lines .t b:nth-of-type(5) {
  background-color: #91abf7;
}

#section-3 footer.about-footer .lines .t b:nth-of-type(2),
#section-3 footer.about-footer .lines .t b:nth-of-type(4) {
  background-color: #f8a0cb;
}

#section-3 footer.about-footer .lines .t b:nth-of-type(3) {
  background-color: #edeefd;
}

#section-3 footer.about-footer .lines .p b:nth-of-type(1) {
  background-color: #e0005d;
}

#section-3 footer.about-footer .lines .p b:nth-of-type(2) {
  background-color: #e0d100;
}

#section-3 footer.about-footer .lines .p b:nth-of-type(3) {
  background-color: #007ce0;
}

footer.page-footer {
  width: 100vw;
  height: auto;
  position: fixed;
  bottom: 0;
  left: 0;
  pointer-events: none;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

footer.page-footer a {
  color: #007ce0;
  transition: color 0.2s;
}

body.dark footer.page-footer {
  color: #ffffff;
  transition: color 0.2s;
}

body.dark footer.page-footer a {
  color: #39c5bb;
  transition: color 0.2s;
}

footer.page-footer .left,
footer.page-footer .right {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  font-family: "Nunito Sans", sans-serif;
}

footer.page-footer .left {
  writing-mode: vertical-rl;
  font-size: 1.25rem;
  line-height: 1.46;
  padding: 4rem 4rem 4rem 8rem;
  pointer-events: auto;
}

@media (max-width: 1500px) {
  footer.page-footer .left {
    padding: 4rem 1rem 2rem 2rem;
    font-size: 1rem;
    flex-direction: row;
  }
  footer.page-footer .left a {
    margin-top: 1rem;
  }
}

@media (max-width: 1200px) {
  footer.page-footer .left {
    padding: 4rem 1rem 0.5rem 0.5rem;
    font-size: 1rem;
    flex-direction: row;
  }
  footer.page-footer .left span {
    display: none;
  }
}

footer.page-footer .right {
  padding: 4rem 8rem 4rem 4rem;
  user-select: none;
  align-items: flex-end;
}

@media (max-width: 1500px) {
  footer.page-footer .right {
    padding: 4rem 2rem 2rem 1rem;
  }
}

footer.page-footer .right b.scrollbar {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 4px;
  padding: 4rem 0 4rem 0;
}

footer.page-footer .right b.scrollbar .scrollbar-inner {
  position: absolute;
  top: 0;
  height: 0;
  width: 100%;
  background-color: #070109;
  transition: background-color 0.2s;
}

body.dark footer.page-footer .right b.scrollbar .scrollbar-inner {
  background-color: #ffffff;
  transition: background-color 0.2s;
}

footer.page-footer .right b#social-icons {
  pointer-events: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  overflow: hidden;
}

footer.page-footer .right b#social-icons ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1rem;
  align-items: flex-end;
}

footer.page-footer .right b#social-icons ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Share Tech Mono", monospace;
  font-size: 1rem;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
}

footer.page-footer .right b#social-icons ul li a {
  color: #070109;
  text-decoration: none;
  transition: color 0.3s;
  display: flex;
}

footer.page-footer .right b#social-icons ul li a .letter-hide {
  max-width: 0;
  opacity: 0;
  overflow: hidden;
  display: block;
  transition: max-width 0.75s cubic-bezier(0.47, 0.03, 0.47, 0.99), opacity 0.5s ease;
}

footer.page-footer .right b#social-icons ul li a:hover .letter-hide {
  max-width: 4rem;
  opacity: 1;
  transition: max-width 0.75s cubic-bezier(0.47, 0.03, 0.47, 0.99), opacity 0.5s ease 0.45s;
}

body.dark footer.page-footer .right b#social-icons ul li a {
  color: #ffffff;
  transition: color 0.3s;
}

footer.page-footer .right b#social-icons ul li + li {
  margin-top: 0.5rem;
}

footer.page-footer .right b#social-icons ul li:nth-of-type(1) {
  transition-delay: 0.1s;
}

footer.page-footer .right b#social-icons ul li:nth-of-type(2) {
  transition-delay: 0.2s;
}

footer.page-footer .right b#social-icons ul li:nth-of-type(3) {
  transition-delay: 0.3s;
}

footer.page-footer .right b#social-icons.active ul li {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.3s;
}

footer.page-footer .right b#social-icons.active ul li:nth-last-of-type(1) {
  transition-delay: 0.1s;
}

footer.page-footer .right b#social-icons.active ul li:nth-last-of-type(2) {
  transition-delay: 0.2s;
}

footer.page-footer .right b#social-icons.active ul li:nth-last-of-type(3) {
  transition-delay: 0.3s;
}

footer.page-footer .right b#social-icons b#social-expand {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  cursor: pointer;
  height: 1rem;
  position: relative;
  transform: rotateZ(0);
  transition: transform 0.3s ease-out;
  width: 1rem;
}

footer.page-footer .right b#social-icons b#social-expand b {
  background-color: #070109;
  position: absolute;
  transition: background-color 0.3s;
}

body.dark footer.page-footer .right b#social-icons b#social-expand b {
  background-color: #ffffff;
  transition: background-color 0.3s;
}

footer.page-footer .right b#social-icons b#social-expand b:nth-of-type(1) {
  height: 4px;
  width: 100%;
}

footer.page-footer .right b#social-icons b#social-expand b:nth-of-type(2) {
  height: 100%;
  width: 4px;
}

footer.page-footer .right b#social-icons b#social-expand.active {
  transform: rotateZ(405deg);
  transition: transform 0.3s ease-out;
}

footer.page-footer .right b#ls-container {
  pointer-events: auto;
  background-color: #070109;
  display: flex;
  height: 3rem;
  width: 1rem;
  cursor: pointer;
}

footer.page-footer .right b#ls-container b#ls {
  background-color: #ffffff;
  border: 2px solid #070109;
  height: 50%;
  transition: height 0.2s, background-color 0.2s;
  width: 100%;
}

footer.page-footer .right b#ls-container b#ls.stretch {
  height: 100%;
  transition: height 0.2s, background-color 0.2s;
}

footer.page-footer .right b#ls-container.lightsOut {
  align-items: flex-end;
  background-color: #ffffff;
}

footer.page-footer .right b#ls-container.lightsOut b#ls {
  background-color: #070109;
  border: 2px solid #ffffff;
}

::selection {
  background: #ebc9ee;
}

body {
  isolation: isolate;
  min-height: 100vh;
  margin: 0 auto;
  width: 100vw;
  max-width: 2000px;
  height: auto;
  background-color: #ffffff;
  overflow: hidden;
  transition: background-color 0.2s;
}

body #preloader {
  z-index: 99;
}

body header,
body footer {
  z-index: 3;
}

body main {
  z-index: 2;
}

body main {
  min-height: 100vh;
  width: 100%;
  height: auto;
  margin: 0 auto;
  position: relative;
  isolation: isolate;
}

body main .background-title {
  align-items: center;
  color: rgba(7, 1, 9, 0.08);
  transition: color 0.2s;
  display: flex;
  font-family: "Share Tech Mono", monospace;
  letter-spacing: 2rem;
  font-size: 20em;
  height: 100%;
  justify-content: center;
  left: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  user-select: none;
  width: 100%;
  z-index: 1;
}

body main .background-title span {
  filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

body main section {
  min-height: 100vh;
  height: auto;
  width: 100vw;
  position: relative;
}

body.dark {
  background-color: #070109;
  transition: background-color 0.2s;
}

body.dark main .background-title {
  color: rgba(57, 197, 187, 0.08);
  transition: color 0.2s;
}

#intersector {
  top: 75vh;
  width: 100%;
  height: 1px;
  position: fixed;
}

a[rel="me"] {
  display: none;
}
