@charset "UTF-8";

@keyframes ripple {
  from {
    transform: scale(0);
  }

  to {
    opacity: 0;
    transform: scale(4);
  }
}

@keyframes scroll-ind {
  from {
    transform: translateY(0);
  }

  50.99% {
    transform: translateY(129px);
  }

  51% {
    transform: translateY(-129px);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes fadeInOut {
  from {
    opacity: 1;
  }

  25% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }

  80% {
    transform: translateY(-1%);
    opacity: 1;
  }

  to {
    transform: translateY(0);
  }
}

@keyframes fadeOutDown {
  from {
    transform: translateY(0);
    opacity: 1;
  }

  to {
    transform: translateY(100%);
    opacity: 0;
  }
}

@keyframes flash {
  from {
    color: #DFDFDF;
  }

  20% {
    color: #202020;
  }

  30% {
    color: #DFDFDF;
  }

  50% {
    color: #202020;
  }

  60% {
    color: #DFDFDF;
  }
}


@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  90% {
    transform: scale(1.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }

}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

@keyframes float {
  from {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-30px);
  }

  to {
    transform: translateY(0);
  }

}
@keyframes floatR {
  from {
    transform: translateY(0);
  }

  50% {
    transform: translateY(30px);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes menuExpansion {
  from {
    flex-grow: 0;
  }

  to {
    flex-grow: 1;
  }
}

@keyframes menuCollapse {
  from {
    flex-grow: 1;
  }

  to {
    flex-grow: 0;
  }
}

@keyframes noise {
  from { transform: translate(0, 0) }
  10% { transform: translate(-5%, 10%) }
  20% { transform: translate(-15%, -10%) }
  30% { transform: translate(10%, 20%) }
  40% { transform: translate(-7%, -15%) }
  50% { transform: translate(-5%, 10%) }
  60% { transform: translate(-5%, -10%) }
  70% { transform: translate(0%, 10%) }
  80% { transform: translate(-8%, -30%) }
  90% { transform: translate(13%, 24%) }
  to { transform: translate(10%, 0%) }
}
