@charset "UTF-8";

@media (max-width: 820px) {
  /* Small laptops/tablets */
}

@media (max-width: 500px) {
  /* Mobile */
}

@media (max-width: 961px) {
  html {
    overflow: hidden !important;
  }

  * {
    overflow: hidden !important;
    -webkit-transition: none;
    transition: none;
    margin: 0;
    padding: 0;
  }

  body {
    overflow: hidden !important;
  }

  section {
    display: none;
  }

  .center {
    display: none;
  }

  section.mob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
    width: 100vw;
    color: #dfdfdf;
    background-color: #202020;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden !important;
  }

  .mob span {
    font-size: 10vmin;
    line-height: 1.46em;
    text-align: center;
    font-family: "Archivo Black";
    background-image: linear-gradient(
      to right,
      rgba(237, 30, 121, 1) 0%,
      rgba(228, 31, 123, 1) 18.47%,
      rgba(202, 33, 130, 1) 49.18%,
      rgba(161, 38, 140, 1) 88.11%,
      rgba(147, 39, 143, 1) 100%
    );
    background-origin: 0;
    background-size: 100% 25%;
    background-repeat: repeat-x;
    background-position: -100% 75%;
  }

  .mob span a {
    color: #dfdfdf;
  }

  header {
    display: none;
  }
}

@media (max-width: 1400px) {
}

@media (max-width: 1600px) {
}

@media (max-width: 1250px) {
  * {
  }
}
