@import "./_vars";

footer.page-footer {
  width: 100vw;
  height: auto;
  position: fixed;
  bottom: 0;
  left: 0;
  pointer-events: none;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  a {
    color: $pflag-blue;
    transition: color 0.2s;
  }

  body.dark & {
    color: $white;
    transition: color 0.2s;

    a {
      color: $miku;
      transition: color 0.2s;
    }
  }

  .left,
  .right {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    font-family: $nunitosans;
  }

  .left {
    writing-mode: vertical-rl;
    font-size: 1.25rem;
    line-height: 1.46;
    padding: 4rem 4rem 4rem 8rem;

    @media (max-width: $breakpoint-small) {
      padding: 4rem 1rem 2rem 2rem;
      font-size: 1rem;
      flex-direction: row;
      a {
        margin-top: 1rem;
      }
    }

    @media (max-width: $breakpoint-tiny) {
      padding: 4rem 1rem 0.5rem 0.5rem;
      font-size: 1rem;
      flex-direction: row;
      span {
        display: none;
      }
    }

    pointer-events: auto;
  }

  .right {
    padding: 4rem 8rem 4rem 4rem;
    @media (max-width: $breakpoint-small) {
      padding: 4rem 2rem 2rem 1rem;
    }
    user-select: none;
    align-items: flex-end;

    b.scrollbar {
      position: fixed;
      right: 0;
      top: 0;
      height: 100vh;
      width: 4px;
      padding: 4rem 0 4rem 0;
      .scrollbar-inner {
        position: absolute;
        top: 0;
        height: 0;
        width: 100%;
        background-color: $black;
        transition: background-color 0.2s;

        body.dark & {
          background-color: $white;
          transition: background-color 0.2s;
        }
      }
    }

    b#social-icons {
      pointer-events: auto;
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;
      overflow: hidden;

      ul {
        @include flexCenter;
        flex-direction: column;
        margin-bottom: 1rem;
        align-items: flex-end;

        li {
          @include flexCenter;
          font-family: $sharetech;
          font-size: 1rem;
          opacity: 0;
          pointer-events: none;
          transition: opacity 0.3s;

          a {
            color: $black;
            text-decoration: none;
            transition: color 0.3s;
            display: flex;

            .letter-hide {
              max-width: 0;
              opacity: 0;
              overflow: hidden;
              display: block;
              transition: max-width 0.75s cubic-bezier(0.47, 0.03, 0.47, 0.99),
                opacity 0.5s ease;
            }

            &:hover .letter-hide {
              max-width: 4rem;
              opacity: 1;
              transition: max-width 0.75s cubic-bezier(0.47, 0.03, 0.47, 0.99),
                opacity 0.5s ease 0.45s;
            }
          }

          body.dark & a {
            color: $white;
            transition: color 0.3s;
          }
        }

        li + li {
          margin-top: 0.5rem;
        }
        @for $i from 1 through 3 {
          li:nth-of-type(#{$i}) {
            transition-delay: #{$i * 0.1}s;
          }
        }
      }

      &.active {
        ul {
          li {
            opacity: 1;
            pointer-events: auto;
            transition: opacity 0.3s;
          }
          @for $i from 1 through 3 {
            li:nth-last-of-type(#{$i}) {
              transition-delay: #{$i * 0.1}s;
            }
          }
        }
      }

      b#social-expand {
        @include flexCenter;
        align-self: flex-end;
        cursor: pointer;
        height: 1rem;
        position: relative;
        transform: rotateZ(0);
        transition: transform 0.3s ease-out;
        width: 1rem;

        b {
          background-color: $black;
          position: absolute;
          transition: background-color 0.3s;
        }

        body.dark & b {
          background-color: $white;
          transition: background-color 0.3s;
        }

        b:nth-of-type(1) {
          height: 4px;
          width: 100%;
        }
        b:nth-of-type(2) {
          height: 100%;
          width: 4px;
        }

        &.active {
          transform: rotateZ(405deg);
          transition: transform 0.3s ease-out;
        }
      }
    }

    b#ls-container {
      pointer-events: auto;
      background-color: $black;
      display: flex;
      height: 3rem;
      width: 1rem;
      cursor: pointer;

      b#ls {
        background-color: $white;
        border: 2px solid $black;
        height: 50%;
        transition: height 0.2s, background-color 0.2s;
        width: 100%;
        &.stretch {
          height: 100%;
          transition: height 0.2s, background-color 0.2s;
        }
      }

      &.lightsOut {
        align-items: flex-end;
        background-color: $white;
        b#ls {
          background-color: $black;
          border: 2px solid $white;
        }
      }
    }
  }
}
