@import "./vars";

#section-2 {
  @include sectionHeader;
  overflow: visible;
  position: relative;
  padding-bottom: 4rem;
  // border-top: 1px solid $luka;

  .works-box {
    @include worksBox;

    &.visible .work {
      width: 100%;
      transition: width 0.6s ease;

      img {
        opacity: 1;
        transition: opacity 1s ease-out 0.65s;
      }
    }

    .work {
      background-color: $black;
      height: 20rem;

      @media (max-width: $breakpoint-small) {
        height: 15rem;
      }

      @media (max-width: $breakpoint-tiny) {
        height: 10rem;
      }

      isolation: isolate;
      position: relative;
      transition: width 0.6s ease;
      width: 0;

      img {
        opacity: 0;
        transition: opacity 0.4s ease-out 0.65s;
      }

      body.dark & {
        background-color: $white;
      }

      .overlay,
      .image {
        position: absolute;
        width: 100%;
        height: 100%;
      }

      .overlay {
        z-index: 2;
        background-color: transparentize($white, 0.3);

        body.dark & {
          background-color: transparentize($black, 0.3);
        }

        transition: background-color 0.3s;
        @include flexCenter;

        span {
          opacity: 0;
          transition: opacity 0.3s;
          font-size: 1.5rem;

          @media (max-width: $breakpoint-small) {
            font-size: 1rem;
          }

          @media (max-width: $breakpoint-tiny) {
            font-size: 0.85rem;
          }

          color: $black;

          body.dark & {
            color: $white;
          }

          font-family: $sharetech;
        }

        .work-links {
          position: absolute;
          bottom: 1rem;
          right: 1.5rem;
          display: flex;

          a + a {
            margin-left: 1rem;
          }

          a.ext {
            opacity: 0;
            pointer-events: none;
            @include flexCenter;
            font-family: $nunitosans;
            padding: 0.5rem 1rem;
            color: $black;
            border: 1px solid $black;
            transition: color 0.3s, border-color 0.3s, background-color 0.3s,
              opacity 0.3s;

            cursor: pointer;
            font-weight: bold;
            text-decoration: none;

            @media (max-width: $breakpoint-small) {
              font-size: 1rem;
            }

            @media (max-width: $breakpoint-tiny) {
              font-size: 0.85rem;
            }

            &:hover {
              background-color: transparentize($black, 0.8);

              body.dark & {
                background-color: transparentize($white, 0.8);
              }

              transition: color 0.3s, border-color 0.3s, background-color 0.3s,
                opacity 0.3s;
            }

            body.dark & {
              color: $white;
              border: 1px solid $white;
              transition: color 0.3s, border-color 0.3s, background-color 0.3s,
                opacity 0.3s;
            }
          }
        }
      }
      .image {
        z-index: 1;
        img {
          width: 100%;
        }
      }

      &:hover {
        .overlay {
          background-color: transparentize($white, 0.06);

          body.dark & {
            background-color: transparentize($black, 0.06);
          }

          transition: background-color 0.3s;
          span {
            animation: flickerIn 0.75s forwards;
            transition: opacity 0.3s;
          }

          a.ext {
            opacity: 1;
            transition: color 0.3s, border-color 0.3s, background-color 0.3s,
              opacity 0.3s;
            pointer-events: auto;
          }
        }
      }
    }
  }

  .works-box + .works-box {
    margin-top: 6rem;
  }

  & footer {
    color: $black;
    @include fullPadding;

    position: relative;
    transition: color 0.3s;
    font-family: $crimsontext;
    font-size: 2rem;
    width: 100vw;
    margin-top: 4rem;

    &,
    * {
      overflow: visible;
    }

    p {
      display: flex;
      flex-direction: column;
      line-height: 1.56;

      span:first-of-type {
        font-family: $sharetech;
        font-size: 1rem;
        margin-bottom: 1rem;
      }

      @include specialSpanList;
      span:not(:first-of-type) {
        margin-left: 2rem;

        @media (max-width: $breakpoint-small) {
          margin-left: 1rem;
          font-size: 1.5rem;
        }

        @media (max-width: $breakpoint-tiny) {
          margin-left: 0;
          font-size: 1.25rem;
        }
      }
    }

    body.dark & {
      color: $white;
      transition: color 0.3s;
    }
  }
}
