@import "./vars";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

:root {
  font-size: 16px;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  scrollbar-width: none;
}

br,
hr {
  user-select: none;
  pointer-events: none;
}
