@import "./vars";

.italic {
  font-style: italic;
}

.strikethrough {
  text-decoration: line-through;
}

.underline {
  text-decoration: underline;
}

.i-pink {
  color: $pflag-pink;
  font-style: italic;
}

.r-pink {
  color: $pflag-pink;
}

.c-lpink {
  color: $pink;
}

.c-purple {
  color: $purple;
}

.subsection {
  color: $pflag-pink;
  transition: color 0.3s;

  body.dark & {
    color: $pflag-blue;
    transition: color 0.3s;
  }
}
