@import "./vars";

#section-3 {
  @include sectionHeader;
  overflow: visible;
  position: relative;
  display: flex;
  flex-direction: column;

  &,
  * {
    overflow: visible;
  }

  .about-info-box {
    @include colorSwitch;
    @include fullPadding;

    flex-grow: 1;

    h1 {
      font-family: $crimsontext;
      font-size: 6rem;

      @media (max-width: $breakpoint-small) {
        font-size: 3.5rem;
      }

      line-height: 1;
      margin-bottom: 3rem;
      font-weight: 400;
      opacity: 0;

      &.visible {
        animation: fadeIn 1s ease forwards;
      }
    }

    p {
      font-family: $nunitosans;
      font-size: 2rem;

      @media (max-width: $breakpoint-small) {
        font-size: 1.7rem;
      }

      line-height: 1.56;
      opacity: 0;
    }

    p.visible {
      animation: fadeIn 1s ease forwards;
    }

    p.indent,
    span.indent {
      margin-left: 2rem;

      @media (max-width: $breakpoint-small) {
        margin-left: 1rem;
      }

      @media (max-width: $breakpoint-tiny) {
        margin-left: 0;
      }
    }

    p a {
      color: $black;
      transition: 0.3s color;

      body.dark & {
        color: $white;
        transition: 0.3s color;
      }
    }

    p + p {
      margin-top: 2rem;
    }

    p.skills-para {
      margin-top: 4rem;
      font-family: $nunitosans;
      font-size: 2rem;
      line-height: 1.56;
      .skills-title {
        font-family: $sharetech;
        font-size: 1rem;
      }
    }
    p.extras-para {
      margin-top: 4rem;
      font-family: $crimsontext;
      font-size: 2rem;
      line-height: 1.56;
      display: flex;
      flex-direction: column;

      .extras-title {
        font-family: $sharetech;
        font-size: 1rem;
        margin-bottom: 1rem;
      }

      @include specialSpanList;
      span + span {
      }
    }

    .skills-para,
    .extras-para {
      opacity: 0;
    }

    .skills-para.visible,
    .extras-para.visible {
      animation: flickerIn 1s ease forwards;
    }
  }

  footer.about-footer {
    @include colorSwitch;
    @include fullPadding;
    margin-top: 8rem;

    @media (max-width: $breakpoint-tiny) {
      margin-bottom: 16rem;
    }

    font-family: $sharetech;
    display: flex;
    flex-direction: column;

    .info {
      a {
        @include colorSwitch;
      }

      #show-flags {
        cursor: pointer;
        color: $black;
        transition: 0.3s color;

        body.dark & {
          color: $white;
          transition: 0.3s color;
        }

        body.dark &:hover,
        &:hover {
          color: $pflag-pink;
          transition: color 0.3s ease;
        }
      }

      #time-display,
      #awake-or-not {
        color: $pflag-pink;
      }

      p + p {
        margin-top: 1rem;
      }
    }

    .lines {
      width: 100%;
      display: flex;
      margin-top: 0.5rem;
      padding-top: 1rem;
      opacity: 0;
      transition: opacity 0.3s;

      &.active {
        opacity: 1;
        transition: opacity 0.3s;
      }

      div {
        display: flex;
        height: 8px;
        width: 4rem;

        b {
          flex-grow: 1;
          height: 100%;
        }
      }

      div + div {
        margin-left: 1rem;
      }

      .t {
        b:nth-of-type(1),
        b:nth-of-type(5) {
          background-color: $tflag-blue;
        }

        b:nth-of-type(2),
        b:nth-of-type(4) {
          background-color: $tflag-pink;
        }

        b:nth-of-type(3) {
          background-color: $tflag-white;
        }
      }

      .p {
        b:nth-of-type(1) {
          background-color: $pflag-pink;
        }

        b:nth-of-type(2) {
          background-color: $pflag-yellow;
        }

        b:nth-of-type(3) {
          background-color: $pflag-blue;
        }
      }
    }
  }
}
