@import "./vars.scss";
@import "./anim.scss";

header {
  align-items: center;
  background-color: transparentize($white, 0.5);
  color: $black;
  display: flex;
  flex-direction: row;
  height: auto;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  transition: color 0.2s, background-color 0.3s;
  width: 100vw;

  body.dark & {
    // mix-blend-mode: difference;
    background-color: transparentize($black, 0.5);
    color: $white;
    transition: color 0.2s, background-color 0.3s;
  }

  .left,
  .right {
    height: 100%;
    width: auto;
    flex-grow: 1;
    display: flex;
    align-items: center;
    font-family: $nunitosans;
  }

  .left {
    font-size: 3rem;

    @media (max-width: $breakpoint-tiny) {
      font-size: 1.5rem;
    }

    padding: 4rem 1rem 1rem 8rem;

    @media (max-width: $breakpoint-small) {
      padding: 0.5rem 0.5rem 0.5rem 2rem;
    }
  }

  .right {
    font-size: 1.5rem;

    @media (max-width: $breakpoint-tiny) {
      font-size: 1rem;
    }

    padding: 4rem 8rem 1rem 1rem;

    @media (max-width: $breakpoint-small) {
      padding: 0.5rem 2rem 0.5rem 0.5rem;
    }
    justify-content: flex-end;

    ul {
      display: flex;
      flex-direction: row;

      li {
        opacity: 1;

        &:hover {
          span {
            animation: fadeOutInColor 0.5s forwards;

            @for $i from 1 through 5 {
              &:nth-of-type(#{$i}) {
                animation-delay: #{$i * 0.05}s;
              }
            }
          }
        }
      }

      li a {
        color: $black;
        transition: color 0.3s;
        text-decoration: none;
        position: relative;

        body.dark & {
          color: $white;
          transition: color 0.3s;
        }
      }

      li + li {
        margin-left: 2rem;
      }
    }
  }
}
